<% if (typeof adType !== 'undefined' && adType === 'banner728') { %>
<div class="flex justify-center my-4">
  <div class="w-full max-w-[728px]">
    <!-- Adsterra Banner 728x90 - Ganti YOUR_KEY dengan publisher key kamu -->
    <!--
    <script type="text/javascript">
      atOptions = { 'key': 'YOUR_KEY', 'format': 'iframe', 'height': 90, 'width': 728, 'params': {} };
    </script>
    <script type="text/javascript" src="//www.highperformancedformats.com/YOUR_KEY/invoke.js"></script>
    -->
    <div class="h-[90px] bg-slate-100 dark:bg-slate-800 rounded-lg flex items-center justify-center text-slate-400 text-xs">Ads</div>
  </div>
</div>
<% } else if (typeof adType !== 'undefined' && adType === 'banner300') { %>
<div class="flex justify-center my-4">
  <!-- Adsterra Banner 300x250 - Ganti YOUR_KEY dengan publisher key kamu -->
  <!--
  <script type="text/javascript">
    atOptions = { 'key': 'YOUR_KEY', 'format': 'iframe', 'height': 250, 'width': 300, 'params': {} };
  </script>
  <script type="text/javascript" src="//www.highperformancedformats.com/YOUR_KEY/invoke.js"></script>
  -->
  <div class="w-[300px] h-[250px] bg-slate-100 dark:bg-slate-800 rounded-lg flex items-center justify-center text-slate-400 text-xs">Ads</div>
</div>
<% } %>
